@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

html, body{
    scroll-behavior: smooth;
}

.top{
    min-height: 100vh;
    background-image: url(../images/wallpaper.jpg);   
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    background-position: center;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0px -32px 27px -13px rgba(0,0,0,0.45) inset;
}

.top::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 100;
}

header{
    background-image: linear-gradient(#321b6c, #2c016d);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 83px;
    z-index: 999;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

header a img{
    padding: 5px;
    border-radius: 50px;
    transition: all .5s;
}

header a img:hover{
    background-color: white;
}

.navbar{
    margin: 10px;
    color: white;
    font-size: 20px;
    padding: 12px 19px;
    text-decoration: none;
    border-radius: 25px;
    transition: all .5s;
}

.navbar:hover{
    background-color: white;
    color: black;
}

.tickets button{
    width: auto;
    height: 50px;
    margin: 10px;
    padding: 0 19px;
    border-radius: 25px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.tickets button:hover{
    background-color: #5d20d3;
    color: white;
    scale: 104%;
}

.explore{
    width: 100%;
    z-index: 102;
}

.explore h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: white;
}

.explore button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 10px 10px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    font-size: 16px;
    transition: all .4s;
    cursor: pointer;
}

.explore button:hover{
    background-color: white;
    color: black;
}

.intro1 {
    background-color: black;
    background-size: cover;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro1 h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;   
}

.intro1 p{
    padding-top: 10px;
    font-size: 40px;
}

.scroll-reveal span{
    color: hsl(0 0% 100%/0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #7d12ff , #39FF14);
    animation: text-reveal linear forwards;
    animation-timeline: view(y);
}

.scroll-reveal h1 span{
    animation-range-start: 10vh;
    animation-range-end: 30vh;
}

.scroll-reveal p span{
    animation-range-start: 16vh;
    animation-range-end: 45vh;
}

@keyframes text-reveal{
    to {
        background-size: 100% 100%;
    }
}

.intro2{
    background-size: cover;
    background-image: url(../images/bg2.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro2::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(44,1,109,0.85);
    z-index: 100;
}

.intro2 img{
    margin: 40px;
    height: 300px;
    width: auto;
    border-radius: 60px;
    transition: all 0.3s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 101;
}

.intro2 img:hover{
    scale: 103%;
}

.introText{
    text-align: justify;
    margin-right: 50px;
    color: white;
    z-index: 101;
}

.introText h2 {
    font-size: 60px;
}

.introText p{
    font-size: 20px;
}

.left {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    box-shadow: 0px 25px 60px -3px rgba(255,255,255,1);
}

.map img{
    margin: 20px;
    height: 300px;
    width: 400px;
    border-radius: 60px;
    transition: all 0.3s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
}

.map img:hover{
    scale: 102%;
}

.attractionleft {
    width: 70%;
    margin: 20px;
    text-align: justify;
}

.attractionleft span{
    display: inline-flex;
    align-items: center;
}

.attractionleft span img{
    padding-right: 10px;
    height: 45px;
    width: auto;
}

.attractionleft span h2{
    font-size: 60px;
}

.attractionleft p{
    font-size: 20px;
}

.right{
    background-size: cover;
    background-color: #2c016d;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right img{
    margin: 20px;
    height: 300px;
    width: auto;
    border-radius: 60px;
    transition: all 0.3s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.right img:hover{
    scale: 103%;
}

.attractionright{
    text-align: justify;
    padding: 20px;
    color: white;
}

.attractionright h2 {
    font-size: 60px;
}

.attractionright p{
    font-size: 20px;
}

.socmed{
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.socmed::before{
    width: 100%;
    height: 47vh;
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.80);
    z-index: 101;
}

.socmedbg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socmedbg img{
    margin: 50px 100px 0px;
    height: 60px;
    width: 60px;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.socmedbg a p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

.socmedbg a{
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
    z-index: 102;
}

.socmedhead{
    z-index: 102;
}

.socmedhead h1{
    margin-top: 20px;
    color: black;
    font-size: 30px;
    position: relative;
}

.socmedhead h1::before{
    content: "";
    display: block;
    background: #000;
    width: 380px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.socmedhead h1::after{
    content: "";
    display: block;
    background: #000;
    width: 380px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.socmedhead span{
    background: transparent;
}

.socmedbg span img:hover{
    scale: 108%;
    filter: grayscale(0);
}

